:root {
  --clr-primary: #c66394;
  --clr-secondary: #8ddaeb;
  --clr-text: black;
  --shadow-primary: rgba(245, 242, 242, 0.615);
  --shadow-secondary: rgb(245, 242, 242);
  --shadow-darker: #3c3c3c;
}
body {
  font-family: "Handlee";
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url(../src/images/woman-sport-activities_102902-2337.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  
}

.container {
  
  width: 90%;
  margin: 50px auto;
  max-width: 1000px;
  padding: 30px;
}
header,
main,
section {
max-width: 90%;
  width: 100%;
  margin-top: 50px;
  border: 3px solid var(--clr-primary);
  box-shadow: 2px 2px 2px var(--clr-primary);
  border-radius: 10px;
  padding: 10px;
  background: rgb(184, 21, 102);
  background: radial-gradient(
    circle,
    rgba(184, 21, 102, 0.4) 1%,
    rgba(0, 212, 255, 0.3) 100%
  );
}

h1 {
  font-size: 65px;
  margin-bottom: 0;
  color: var(--clr-secondary);
  text-shadow: 3px 3px 3px var(--shadow-darker);
  line-height: 1.5;
}
h3 {
  font-size: 40px;
  text-shadow: 1px 1px 1px var(--clr-secondary);
  margin: 5px;
  padding-bottom: 5px;
}

form {
  display: flex;
  justify-content: space-around;
}
main p {
  font-size: 35px;
  font-weight: bolder;
  color: var(--clr-text);
  text-shadow: 1px 1px 3px var(--shadow-secondary);
}
.logo i {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  border-radius: 25px;
  padding: 5px;
  font-size: 50px;
  margin: 20px;
  box-shadow: 2px 2px 2px var(--shadow-darker);
}
.input {
  padding: 15px 25px;
  width: 60%;
  margin: 9px 0;
  border-radius: 25px;
  border: 1px solid var(--clr-primary);
  background-color: var(--shadow-primary);
  box-shadow: 2px 2px 2px var(--clr-primary);
  font-size: 20px;
  font-family: "Handlee";
}
::placeholder {
  color: var(--shadow-darker);
  text-shadow: 1px 2px 2px var(--shadow-secondary);
  font-weight: lighter;
  text-align: center;
  font-family: "Handlee";
  font-size: 25px;
}
.button {
  padding: 13px 25px;
  width: 25%;
  margin: 9px 0;
  border-radius: 25px;
  border: 1px solid var(--clr-primary);
  background-color: var(--shadow-primary);
  box-shadow: 2px 2px 2px var(--clr-primary);
  color: var(--clr-secondary);
  font-size: 30px;
  text-shadow: 2px 2px 2px var(--shadow-darker);
  font-family: "Handlee";
  font-weight: bolder;
  cursor: pointer;
}
.exercise {
  font-size: 30px;
  line-height: 2;
  font-weight: bolder;
}

.exercise p {
  font-size: 30px;
  color: var(--clr-text);
  text-shadow: 1px 1px 1px var(--shadow-secondary);
  font-weight: bolder;
  text-align: left;
  background-color: var(--shadow-primary);
  box-shadow: 2px 2px 2px var(--clr-primary);
}

.exercise ol,
ul {
  list-style: none;
  text-shadow: 1px 1px 1px var(--shadow-secondary);
}
.exercise li {
  text-align: left;
}
.hidden {
  display: none;
}

footer {
  font-size: 23px;
  margin-top: 20px;
  margin-right: 50px;
  font-weight: bolder;
  background-color: var(--shadow-primary);
  border-radius: 5px;
  border: 1px solid var(--clr-primary);
  box-shadow: 2px 2px 2px var(--clr-primary);
  display: inline-flex;
  word-spacing: 5px;
  text-align: center;
}
footer a {
  color: var(--clr-secondary);
  text-shadow: 1px 1px 1px var(--shadow-darker);
  text-decoration: none;
  cursor: pointer;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  color: var(--clr-text);
  text-shadow: 1px 1px 3px var(--shadow-secondary);
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.blink i {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  border-radius: 25px;
  padding: 5px;
  margin: 20px;
  box-shadow: 2px 2px 2px var(--shadow-darker);
}


@media (max-width: 700px) {
  h1{
    font-size: 30px;
  }
h3{
  font-size: 20px;
}

header,
main,
section {
  width: 100%; 
    max-width: 90%; 
    margin: 10px auto;
}
.container{
    width: 90%;
    max-width: none; 
  margin: 0 auto;
  padding: 0 ;
  

}
main p{
  font-size: 15px;
}
form{
  margin-bottom: 10px;
}
.input{
  padding: 5px;
  margin: 0;
  font-size: 15px;
  width: 50%;
  height: 30px;
}
::placeholder {
  
  font-size: 5px;
}
.button{
  padding: 5px;
  margin: 0;
  font-size: 15px;
  width: 30%;
  height: 40px;
}
.exercise{
  font-size: 20px;
  line-height: 1;
}

.Typewritter_wrapper{
width:300px;
  height: 300px;
  padding: 0;
  margin: 0 auto;
}
  footer{
    font-size: 10px;
   margin-right: 0;
   margin-bottom: 10px;
   word-spacing: 0px
  }

.logo i {
  
  padding: 5px;
  font-size: 30px;
  margin: 10px;
  
}
}
@media (max-width: 1024px) {


h1{
    font-size: 40px;
  }
h3{
  font-size: 30px;
}

header,
main,
section {
width: 90%; 
    max-width: 100%; 
    margin: 10 auto;
 
}
.container{
    width: 90%;
    max-width: none; 
  margin: 0 auto;
  padding: 0 ;
  

}
main p{
  font-size: 30px;
}
form{
  margin-bottom: 10px;
}
.input{
  padding: 5px;
  margin: 0;
  font-size: 25px;
  width: 50%;
  height: 30px;
}
::placeholder {
  
  font-size: 10px;
}
.button{
  padding: 5px;
  margin: 0;
  font-size: 20px;
  width: 30%;
  height: 40px;
}
.exercise{
  font-size: 20px;
  line-height: 1;
}

.Typewritter_wrapper{
width:250px;
  height: 250px;
  padding: 0;
  margin: 0 auto;
}
  footer{
    font-size: 10px;
   margin-right: 0;
   margin-bottom: 10px;
   text-align: center;
  
  }

.logo i {
  
  padding: 5px;
  font-size: 30px;
  margin: 10px;
  
}
}