body{

  font-family: "Handlee";
  text-align: center;
background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.3)),url(../src/images/woman-sport-activities_102902-2337.jpg) ;
  background-repeat: no-repeat;
  background-size:cover;

}
.container{
  max-width: 900px;
  padding: 30px;
  
  margin: 120px auto;

  
  
}
header, form {
  width: 900px;
  margin: 50px auto;
  border: 3px solid #c66394;
  border-radius: 10px;
  padding: 10px;
  background: rgb(184,21,102);
background: radial-gradient(circle, rgba(184,21,102,0.6) 1%, rgba(0,212,255,0.3) 100%);
}

h1{
  font-size: 65px;
 margin-bottom: 0;
 color: #8ddaeb;
 text-shadow: 3px 3px 3px black;
 line-height: 1.5;

}
h3{
font-size: 40px;
text-shadow: 1px 1px 1px #8ddaeb;
margin: 5px;
padding-bottom: 5px;
}


form p {
  font-size: 35px;
  
  text-shadow: 3px 3px 3px #8ddaeb;
}
  .logo i {
    color: #c66394;
    background-color: #8ddaeb;
    border-radius: 25px;
    padding: 5px;
    font-size: 50px;
    margin: 20px;
box-shadow: 2px 2px 2px black;
  }
.input

footer{
  font-size: 20px;
}